<nav>
  <ul class="links">
    <li class="font-normal"><a href="#">Inicio</a></li>
    <li class="font-normal"><a href="#">Acerca de nosotros</a></li>
    <li class="font-normal"><a href="#">Historia</a></li>
    <li class="font-normal"><a href="#">Contacto</a></li>
  </ul>

  <div class="lang-toggle"><a href="#">ES </a><a href="#"> EN</a></div>

  <div id="menu-toggle" class="menu-toggle">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
