<footer id="getmore-footer" class="getmore-footer">
  <div id="footer-menu">
    <nav>
      <ul class="links">
        <li class="font-normal"><a href="#">Inicio</a></li>
        <li class="font-normal"><a href="#">Acerca de nosotros</a></li>
        <li class="font-normal"><a href="#">Historia</a></li>
        <li class="font-normal"><a href="#">Contacto</a></li>
      </ul>

      <div class="menu-social">
        {% include 'social-icons' %}
      </div>
    </nav>
  </div>

  <div id="footer-logo">
    <img
      src="{{ 'logo.png' | asset_url }}"
      srcset="{{ 'logo@2x.png' | asset_url }} 2x, {{ 'logo@3x.png' | asset_url }} 3x"
      alt="The logo is a white tennis ball."
    >
  </div>
</footer>
