<header id="getmore-header" class="getmore-header">
  <div id="header-logo" class="header-logo">
    <img
      src="{{ 'logo.png' | asset_url }}"
      srcset="{{ 'logo@2x.png' | asset_url }} 2x, {{ 'logo@3x.png' | asset_url }} 3x"
      alt="The logo is a white tennis ball."
    >
  </div>

  <div id="header-menu" class="header-menu">
    {% include 'menu' %}

    <div id="header-hero" class="header-hero">
      <h1 class="title font-normal">Las mejores raquetas para jugar <strong>Tennis</strong></h1>
      <div class="button">Acerca de Nosotros &#10230;</div>
    </div>
  </div>
</header>
