<section id="getmore-info" class="getmore-info">
  <h2 class="title">Tennis</h2>

  <div class="text">
    <h2 class="font-normal">Raquetas. Accesorios. Pelotas.</h2>
    <p class="font-normal">Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.</p>
  </div>

  <div class="button">Historia<span>&#10230;</span></div>
</section>
