/* S: Global Styles */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* F: Global Styles */

/* S: Header Section */

#getmore-header {
  width: 100%;
  height: 100vh;

  display: flex;

  background-image: -webkit-image-set(url('hero.jpg') 1x, url('hero@2x.jpg') 2x, url('hero@3x.jpg') 3x);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: #fff;
}

#header-logo {
  padding: 25px 35px 0;

  border-right: 2px solid #fff;
}

#header-logo img {
  width: auto;
  max-height: 40px;
}

#header-menu {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 45px 70px 0;
}

#header-menu nav {
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-menu nav .links {
  display: flex;
  gap: 50px;
}

#header-menu nav .links li {
  font-size: 16px;
}

#header-menu nav .links li:first-child {
  font-weight: bold;
}

#header-menu nav .links li:first-child div {
  width: 30%;
  margin-top: 5px;
  border: 1px solid #fff;
}

#header-menu nav .lang-toggle {
  display: flex;
  gap: 15px;
}

#header-menu nav .lang-toggle a:first-child {
  font-weight: bold;
}

#header-menu nav .menu-toggle {
  display: none;
  /* display: flex -> changes to that value when using smaller devices */

  gap: 5px;
  flex-direction: column;

  position: absolute;
  top: 50px;
  left: 35px;
}

#header-menu nav .menu-toggle div {
  width: 30px;
  height: 3px;

  background-color: #fff;
}

#header-hero {
  margin: auto;
  padding-right: 50%;
}

#header-hero .title {
  font-size: 55px;
  line-height: 1.25;
}

#header-hero .title strong {
  color: #cbe346;
}

#header-hero .button {
  display: inline-block;

  cursor: pointer;

  border: 1px solid #fff;
  border-radius: 25px;

  margin-top: 35px;
  padding: 10px 30px;

  font-size: 13px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #header-menu {
    gap: 250px;
  }

  #header-logo,
  #header-menu nav .lang-toggle {
    display: none;
  }

  #header-menu nav .links {
    width: 100%;

    display: none;

    gap: 25px;
    flex-direction: column;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.8);

    position: absolute;
    top: 0;
    right: 0;

    padding: 75px 0 50px;
  }

  #header-menu nav .links li:first-child div {
    display: none;
  }

  #header-menu nav .links.show {
    display: flex;
  }

  #header-menu nav .menu-toggle {
    display: flex;
  }

  #header-hero {
    margin: 0;
    padding-right: 0;
  }

  #header-hero .title {
    font-size: 55px;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  #header-menu {
    gap: 100px;
  }

  #header-menu nav .links {
    gap: 20px;
  }

  #header-hero {
    margin-right: 0;
    padding-right: 0;
  }
}

/* F: Header Section */

/* S: Info Section */

#getmore-info {
  height: 400px;

  display: flex;

  gap: 50px;
  align-items: center;
  justify-content: center;

  background-color: #f3f4f8;
}

#getmore-info .title {
  color: #cbe346;

  font-size: 15px;
  font-weight: 500;

  letter-spacing: 2px;

  text-transform: uppercase;

  margin-bottom: 150px;
}

#getmore-info .text {
  width: 550px;

  display: flex;

  gap: 30px;
  flex-direction: column;

  color: #1e2335;
}

#getmore-info .text h2 {
  font-size: 50px;
}

#getmore-info .text p {
  margin-right: 25%;

  font-size: 18px;
  line-height: 1.8;

  color: #787878;
}

#getmore-info .button {
  cursor: pointer;

  border-radius: 25px;
  border: 1px solid #1e2335;

  text-transform: uppercase;

  font-size: 13px;
  font-weight: 500;

  color: #273048;

  padding: 15px 35px;
  margin-top: 175px;
}

#getmore-info .button span {
  margin-left: 50px;
}

@media (max-width: 768px) {
  #getmore-info {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 50px;
  }

  #getmore-info .title {
    margin-bottom: 0;
  }

  #getmore-info .text {
    width: 100%;

    gap: 15px;
  }

  #getmore-info .button {
    margin-top: 10px;
  }
}

/* F: Info Section */

/* S: Catalog Section */

#getmore-catalog {
  display: flex;
}

#catalog-l-side {
  height: 500px;

  display: flex;
  gap: 35px;
  flex-direction: column;

  align-items: end;
  justify-content: center;

  background-image: -webkit-image-set(url('ball.jpg') 1x, url('ball@2x.jpg') 2x, url('ball@3x.jpg') 3x);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: #fff;
}

#l-side-text {
  width: 65%;

  display: flex;
  flex-direction: column;

  gap: 15px;
}

#l-side-text h2 {
  font-size: 50px;
  line-height: 1.3;
}

#l-side-text p {
  font-size: 18px;
  line-height: 1.6;
}

#l-side-dots {
  width: 65%;

  display: flex;
  gap: 25px;
}

#l-side-dots .dot {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: #fff;
}

#l-side-dots .dot:first-child {
  background-color: #cbe346;
}

#l-side-buttons {
  width: 65%;
  margin-top: 25px;
}

#l-side-buttons span {
  cursor: pointer;

  border-radius: 50%;
  border: 1px solid #fff;

  padding: 20px;
}

#l-side-buttons span:first-child {
  margin-right: 10px;
}

#l-side-buttons span:last-child {
  margin-left: 10px;

  border-color: #cbe346;
  background-color: #cbe346;
}

#catalog-r-side {
  width: calc(100% - 500px);

  display: flex;
  gap: 35px;
  align-items: center;

  overflow: hidden;

  margin-left: 50px;
}

.r-side-item {
  position: relative;
}

.r-side-item span.item-index {
  position: absolute;
  left: 20px;
  top: 10px;

  padding: 15px;

  border-radius: 50%;
  border: 1px solid #cbe346;
  background-color: #cbe346;

  color: #fff;

  font-size: 18px;
}

.r-side-item .item-more {
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  #getmore-catalog {
    flex-direction: column;
  }

  #catalog-r-side {
    width: 100%;
    overflow: visible;
    margin: 50px 0;
  }

  #catalog-r-side .r-side-item {
    display: none;
  }

  #catalog-r-side .r-side-item:first-child {
    display: block;
    margin: 0 auto;
  }

  #catalog-r-side .r-side-item:first-child .item-index {
    display: none;
  }

  #catalog-r-side .r-side-item:first-child .item-more {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -4px;

    color: #fff;
    font-size: 25px;
    text-align: center;

    cursor: pointer;
  }
}

/* F: Catalog Section */

/* S: Banner Section */

#getmore-banner {
  height: 600px;

  background-image: -webkit-image-set(url('jump.jpg') 1x, url('jump@2x.jpg') 2x, url('jump@3x.jpg') 3x);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  #getmore-banner {
    background-position: left;
  }
}

/* F: Banner Section */

/* S: Footer Section */

#getmore-footer {
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;

  background-color: #cbe346;
}

#footer-menu nav {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

#footer-menu nav .links {
  display: flex;
  gap: 80px;
}

#footer-menu nav .links li {
  color: #2b3049;
  font-size: 13px;
}

#footer-menu nav .links li:first-child {
  font-weight: bold;
}

#footer-menu nav .menu-social a {
  padding: 0 10px;
}

#footer-menu nav .menu-social a:first-child {
  padding-left: 0;
}

#footer-logo img {
  width: auto;
  max-height: 55px;
}

@media (max-width: 768px) {
  #getmore-footer {
    flex-direction: column;
    justify-content: center;
  }

  #footer-menu nav .links {
    display: none;
  }

  #footer-menu nav .menu-social a {
    padding: 0 10px;
  }

  #footer-logo {
    display: none;
  }

  #footer-scroll {
    display: block;
  }
}

/* F: Footer Section */

.font-normal {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-stretch: normal;
}
